* {
    margin: 0;
    padding: 0;
}

body {
    background: #aaa;
}

ul {
    list-style: none;
}

#drink-container {
    display: flex;

}

#drink-img {
    width: 300px;
}

#img-container {
    margin: 20px 10px;
}

#buttons {
    display: flex;
}

